/* About Section */
.about-section {
  padding: 5%;

}

.about-content {
  display: flex;
  align-items: center;
}



/* Img Display */
.about-content img {
  float: left;
  margin-right: 20px;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.about-text {
  flex: 1;
  text-align: center;
  margin-right: 5%;
}

.about-text h1 {
  font-size: 36px;
  text-align: center;
}

.about-text p {
  color: white;
  font-size: 18px;
  text-align: center;
}



@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column-reverse;
  }

  .about-content img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
