.contact-form {
  flex: 1; /* Take up all available space */
  padding: 20px;
  text-align: center; /* Center align all contents */
}

.contact-form h1 {
  font-size: 36px;
  margin-bottom: 3%;
}

.input {
  width: 50%; /* Set width of input */
  padding: 10px;
  margin: 0 auto; /* Center horizontally */
  margin-bottom: 20px;
}

.contact-form button {
  width: 25%; /* Set width of button */
  padding: 10px;
  background-color: orange;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  text-decoration: none;


}

.contact-form button:hover {
  background-color: #ff6600;
}


/* Social icons styles */
.social-icons {
  flex: 1; /* Take up all available space */
  display: flex;
  flex-direction: row; /* Arrange icons in a row */
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.social-icons a {
  margin-right: 5%; /* Add space between icons */
}

.social-icons a:last-child {
  margin-right: 0; /* Remove margin from the last icon */
}

.social-icons a i {
  font-size: 30px; /* Decrease the size of the icons */
  color: orange;
}
