/* Goals Section */
#goals {
  padding: 5%;
}

.goals-section {
  display: flex;
  align-items: center;
}

.goals-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust spacing between text and image */
}

.goals-text {
  flex: 1;
  text-align: center;
  margin-right: 5%;
}

.goals-text h1 {
  font-size: 36px;
  text-align: center;
}

.goals-text p {
  color: white;
  font-size: 18px;
  text-align: center;
}

.image-box img {
  max-width: 200px !important; /* Adjust the maximum width of the image as needed */
  width: 100%; /* Ensure the image fills its container */
  border-radius: 5px; /* Add rounded corners to the image */
  box-shadow: 0 2px 4px rgba(42, 105, 181, 0.1); /* Add box shadow to the image */
}

@media screen and (max-width: 768px) {
  .goals-content {
    flex-direction: column-reverse; /* Change layout to stack on smaller screens */
  }

  .goals-text {
    padding: 20px; /* Adjust padding for text box on smaller screens */
  }
}
