/* Define margin for all section elements after .section-divider */
.section-divider + section {
  margin-top: 10%; /* Adjust margin as needed */
}



.goals-text {
  flex: 1;
  margin-left: 10%;
  padding: 5%; /* Adjust spacing between text and image */
  background-color: #f5f5f5; /* Background color for the text box */
  border-radius: 5px; /* Add rounded corners to the text box */
}

.goals-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.goals-text p {
  font-size: 18px;
  color: #333;
}
