/* Skills section styles */
.skills-section {
  padding: 0;
  display: flexbox;
  text-align: center;
}

.skills-content {
  display: flex;
  align-items: center;
}

.skills-content img {
  width: 100%;
  padding-left: 30%; /* Adjust padding to move the image away from the left border */
  padding-top: 3%;
  margin-left: auto; /* Add margin-left:auto to center the image horizontally */
  margin-right: auto; /* Add margin-right:auto to center the image horizontally */

  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(42, 105, 181, 0.1);
}

.skills-buttons {
  width: 50%;
  padding: 10%;
  margin-top: 0;
  margin-left: 10%;
}

.skills-buttons h1 {
  text-align: center;
  font-size: 36px;
  margin-top: -5%;
}

.button-group1 {
  display: flex;
  justify-content: space-between; /* Adjust spacing between button groups */
  margin-top: 20px;
}
.button-group2 {
  display: flex;
  justify-content: space-between; /* Adjust spacing between button groups */
  margin-top: 20px;
}

.skill-group {
  flex-basis: 45%; /* Adjust width of each button group */
}

.skill-button {
  margin: 5px;
  padding: 5px 10px; /* Smaller padding for buttons */
  border: none;
  border-radius: 5px;
  background-color: rgb(71, 192, 237);
  color: white;
  font-size: 14px; /* Smaller font size */
  text-align: center; /* Center align text */
  width: 45%; /* Adjust button width */
  transition: background-color 0.3s;
}

.skill-button i {
  margin-right: 5px; /* Adjust icon margin */
}

.skill-button:hover {
  background-color: #ff6600;
}
