/* Import other CSS files */
@import url('goals.css');
@import url('skills.css');
@import url('form.css');
@import url('about.css');
@import url('navbar.css');



/* Global styles */
body {
  padding-left: 15%;
  padding-right: 15%; /* Add padding to the body */
  font-family: Arial, sans-serif;
  background-color: black;
}

h1 {
  color: orange
}

/* Header styles */
.header {
  color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-bottom: 25%;
}

.header-content {
  padding-bottom: 10%;
  margin-top: 5%;
}

.header-content h1 {
  font-size: 45px;
  padding-bottom: 5%;
  padding-top: 2%;
}

.header-content h2 {
  font-size: 36px;
}

/* Section styles */
.section {
  padding: 5%;
  background-color: rgb(40, 51, 51);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 5%;
  background-color: rgb(82, 235, 240);
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #ff6600; /* Adjust the hover color */
}


/* About Section */
.about-content img,
.goals-content img,
.jobs-content img {
  float: left;
  margin-right: 20px;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skills-content img {
  float: left;
  padding-top: 3%;
  margin-right: 20px;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Ensure container clears floats */
.container::after {
  content: "";
  display: table;
  clear: both;
}


.section-divider {
  width: 100%;
  height: 30px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.divider-line {
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.divider-content {
  z-index: 2;
  background-color: #f0f0f0;
  padding: 5px 15px;
  color: #333;
  font-weight: bold;
}

/* Footer styles */
.footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 20px;
}
